parameters:
  currencies:
    bitcoin:
      addresses:
        - 'herpie'
        - 'derpie'
    ethereum:
      addresses:
        - 'flerpie'
    ripple:
      addresses:
        - 'merpie'
    bitcoincash:
      addresses:
        - 'twerpie'
    nxt:
      addresses:
        - 'schmerpie'

  influxdb:
    host: '127.0.0.1'
    port: '8086'