parameters:
  currencies:
    bitcoin:
      addresses:
        - 'herpie'
        - 'derpie'
    ethereum:
      addresses:
        - 'flerpie'
    ripple:
      addresses:
        - 'merpie'
    bitcoincash:
      addresses:
        - 'twerpie'
    nxt:
      amount: 2.5

  fiatCurrency: 'EUR'

  exchange: 'poloniex'

  influxdb:
    host: '127.0.0.1'
    port: '8086'